:root {
	--background: #ffffff;
	--text: #333333;
	--primary: #007bff;
	--secondary: #6c757d;
	--accent: #28a745;
	--border: #dee2e6;
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
	  --background: #1a1a1a;
	  --text: #f0f0f0;
	  --primary: #4da8ff;
	  --secondary: #a1a1a1;
	  --accent: #4cd964;
	  --border: #4a4a4a;
	}
  }
  
  body {
	background-color: var(--background);
	color: var(--text);
	background-image: url('/assets/connectingthefuture.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
  }

  body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); /* Adjust the last value (0.5) for desired transparency */
	z-index: -1;
  }
  
  #app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }

  main {
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  
  
  
  
